# Virtual environment
venv/
.venv/

# Dataset
datasets/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Eksperimen, Notebook & Runs
experiments/
notebooks/
runs/
results/

# Hanya simpan models/production di Git
models/candidates/